click
cycler
dnspython
Flask
gunicorn
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
pandas
Pillow
pymongo
pyparsing
python-dateutil
python-dotenv
pytz
scikit-learn
scipy
seaborn
six
threadpoolctl
Werkzeug
xgboost
